<html>
<head>
  <meta charset="UTF-8">
  <title>知湖 - 发布表白</title>
  <meta http-equiv="Content-Type" content="text/html" />
  <meta name="viewport" content="width=device-width"/>  
  <link rel="stylesheet" href="update_2016/css/reset.css" type="text/css" >
  <link rel="stylesheet" href="update_2016/css/main.css" type="text/css" >
  <link rel="stylesheet" href="update_2016/css/iconfont.css" type="text/css" >
  <!-- <script src="update_2016/js/jquery-1.12.4.min.js"></script> -->
  <script src="update_2016/js/vue.js"></script>
  
  <style>
    .iconfont {
      float: right;
      font-size: 34px;
      margin-top: -6px;
    }
  </style>
</head>

<body>
  <div id="header">
    <p>发 布 表 白</p>
  </div>
  <div id="content">
    <form method="get" enctype="multipart/form-data">
      <div>
        <input v-model="formData.msgTo" @input="validInput('msgTo')" placeholder="表白对象" type="text" name="msgTo">
        <p v-show="common.msgTo.length > 0" class="common">{{common.msgTo}}</p>
        <input v-model="formData.time" style="display: none;" type="text" name="time">
        <textarea v-model="formData.content" @input="validInput('content')" id="textarea" rows="10" name="content" placeholder="表白内容"></textarea>
        <p v-show="common.content.length > 0" class="common">{{common.content}}</p>
        <div class="table align">
          <p>正文对齐</p>
          <a @click="changeAlign(0)" :class="{'active': formData.align == '0'}">左对齐</a>
          <a @click="changeAlign(1)" :class="{'active': formData.align == '1'}">居中</a>
          <a @click="changeAlign(2)" :class="{'active': formData.align == '2'}">右对齐</a>
          <input type="text" style="display: none;" v-model="formData.align" name="align">
        </div>
        <div class="table">
          署名
          <i class="iconfont" v-bind:class="{'icon-on': showingSign, 'icon-off': !showingSign}" @click="switchSign"></i>
          <input @input="validInput('sign')" v-model="formData.sign" v-show="showingSign" placeholder="输入名字" type="text" name="sign" >
          <p v-show="common.sign.length > 0 && showingSign" class="common">{{common.sign}}</p>
        </div>
        <div class="table preview">
          <a @click="changeTemplate(0)" :class="{'active': formData.template == '0'}">天蓝模板</a>
          <a @click="changeTemplate(1)" :class="{'active': formData.template == '1'}">粉红模板</a>
          <input type="text" style="display: none;" v-model="formData.template" name="template">
          <img :src="previewSrc" style="width: 100%">
        </div>
        <input id="submit" v-on:click="validForm($event)" name="submit" type="submit" value="投稿">
      </div>
    </form>
  </div>


  <script src="update_2016/js/biaobai.js"></script>
</body>
</html>